%h1 Listing banners

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @banners.each do |banner|
      %tr
        %td= banner.name
        %td= link_to 'Show', banner
        %td= link_to 'Edit', edit_banner_path(banner)
        %td= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Banner', new_banner_path
